<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="commons/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>layoutサンプル</title>
	<meta name="description" content="固有のメタタグです">
</head>

<body>
<div layout:decorator="layout">
	<div layout:fragment="contents">
		<h1>Access is Denied!</h1>
		<a style="color: blue" th:href="@{/}">Home</a>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
</div>
</body>
</html>
