<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="commons/layout">
<head>
    <title>layoutサンプル</title>
    <meta name="description" content="固有のメタタグです">
</head>

<body>
<div layout:decorator="layout">
    <div layout:fragment="contents" class="text-center container">
        <h1>Hello!</h1>
        <p class="lead text-capitalize">Poisson Distribution</p>
        <div class="row">
            <div class="mx-auto col-4 offset-4">
                <form class="" action="answer" method="get">
                    <div class="form-group">
                        <label for="text_one">単位時間あたり平均</label>
                        <input type="number" name="mean" class="form-control" id="text_one" value="整数">
                        <label for="">回発生した事象が</label>
                    </div>
                    <div class="form-group">
                        <label for="text_two">次の単位時間の間に</label>
                        <input type="number" name="b" class="form-control" id="text_two" value="整数">
                        <label for="">回発生する確率は...?</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-10 offset-1 text-left">
                <blockquote class="blockquote">
                    具体的な例
                    ポアソン分布は、ポアソン過程に関連して発生する。 これは、離散的な自然現象（所与の領域内や所与の時間内において、0回、1回、2回、3回… と発生する現象）に該当するものであり、現象が発生する確率は、時間ないし空間内において一定である。また、時間または空間における発生間隔は指数分布になる。次に、その例を示す。
                    <ul>
                        <li>1時間に特定の交差点を通過する車両の台数。</li>
                        <li>1ミリリットルの希釈された水試料中に含まれる特定の細菌の数（細菌数検査における最確法）。
                        <li>単位面積あたりの雨粒の数。</li>
                        <li>1ページの文章を入力するとき、綴りを間違える回数。</li>
                        <li>1日に受け取る電子メールの件数。</li>
                        <li>1時間あたりの電話がかかってくる件数。</li>
                        <li>ある一定の時間内の店への来客数。</li>
                        <li>1分間のWebサーバへのアクセス数。</li>
                        <li>例えば、1時間あたりのウィキペディアの最近更新したページの編集数もおおよそポアソン分布。</li>
                        <li>1キロメートルあたりのある通り沿いのレストランの軒数。</li>
                        <li>1ヘクタールあたりのエゾマツの本数。</li>
                        <li>1立方光年あたりの恒星の数。</li>
                        <li>単位時間あたりの放射線の計数値であるカウント毎分やカウント毎秒（半減期による減衰や外部からの放射能などによる変動がないと仮定して）。</li>
                    </ul>
                    <footer class="blockquote-footer">ポアソン分布<cite title="Source Title">Wikipedia</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
</body>
</html>
